<%- include('../header') %>
    <div class="container">
        <div class="page-inner" style=" height: auto; margin-left: 100px; margin-top: 90px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">View SubCategory</div>
                        </div>
                        <div class="card-body" style="overflow-x: auto;">
                            <% if (subcategories && subcategories.length===0) { %>
                                <h4 class="text-center text-danger">No SubCategory added yet.</h4>
                                <% } else { %>
                                    <table class="table mt-3">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Category Image</th>
                                                <th scope="col">Category Title</th>
                                                <th scope="col">SubCategory Title</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% subcategories.map((data, index)=> { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= index + 1 %>
                                                    </th>
                                                    <td>
                                                        <img src="../<%= data.category_id.c_image %>" alt=""
                                                            height="100">
                                                    </td>
                                                    <td>
                                                        <%= data.category_id.c_title %>
                                                    </td>
                                                    <td>
                                                        <%= data.subcategory_title %>
                                                    </td>
                                                    <td>
                                                        <a href="/subcategory/updatesubcategory/<%= data.id %>">
                                                            <button class="btn btn-success">Edit</button>
                                                        </a>
                                                        <a href="/subcategory/deleteSubCategory/<%= data.id %>">
                                                            <button class="btn btn-danger">Delete</button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../footer') %>