<%- include('header') %>
<style>
    .form-group {
        margin-bottom: 20px;
    }

    .form-control {
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .form-check-input {
        margin-right: 10px;
    }

    .btn-success {
        background-color: #28a745;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .btn-success:hover {
        background-color: #218838;
    }

    .card {
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        padding: 30px;
    }

    .card-header {
        background-color: #f8f9fa;
        font-size: 20px;
        font-weight: 500;
    }

    .card-title {
        font-size: 18px;
    }

    .select2 {
        border-radius: 5px;
        height: 36px;
    }
</style>
<div class="d-flex">
    <div class="container" style="margin-left: 350px; padding-top: 30px;">
        <div class="page-inner">
            <div class="page-header">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Update Admin</div>
                        </div>
                        <div class="card-body">
                            <form action="/editAdmin/<%= data._id %>" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="fname" placeholder="Enter Your First Name" value="<%= data.fname %>" />
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="lname" placeholder="Enter Your Last Name" value="<%= data.lname %>" />
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" name="email" placeholder="Enter Email" value="<%= data.email %>" />
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Enter Password" value="<%= data.password %>" />
                                </div>
                                <div class="form-group">
                                    <label>Gender</label><br />
                                    <div class="d-flex">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" value="male" <%= data.gender === 'male' ? 'checked' : '' %> /> Male
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gender" value="female" <%= data.gender === 'female' ? 'checked' : '' %> /> Female
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Hobby</label><br />
                                    <div class="col-md-9">
                                        <% let myHobby = ['Coding', 'Gaming']; %>
                                        <% let selectedHobbies = data.hobby || []; %>
                                        <% myHobby.forEach(item => { %>
                                            <div class="form-check mr-sm-2">
                                                <input type="checkbox" class="form-check-input" name="hobby" value="<%= item %>" <%= selectedHobbies.includes(item) ? 'checked' : '' %> />
                                                <%= item %>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>City</label><br />
                                    <div class="col-md-9">
                                        <% let myCity = ['Surat', 'Baroda', 'Rajkot', 'Mumbai']; %>
                                        <select class="select2 form-select shadow-none" style="width: 100%; height: 36px" name="city">
                                            <option>Select</option>
                                            <% myCity.forEach(city => { %>
                                                <option value="<%= city %>" <%= data.city === city ? 'selected' : '' %>><%= city %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Avatar</label><br />
                                    <input type="file" class="form-control-file" name="avatar" />
                                    <img src="<%= data.avatar %>" height="80px" class="mt-2"/>
                                </div>
                                <div class="form-group">
                                    <label for="desc">Description</label><br />
                                    <textarea class="form-control" name="desc" rows="5" id="desc"><%= data.desc %></textarea>
                                </div>
                                <div class="card-action">
                                    <button class="btn btn-success" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


